.search,  .gif{
    margin-top: 20px;
}

input[type=text] {
    width: 400px;
    padding: 8px 12px;
    margin-right: 8px;
}
input[type=submit] {
    cursor: pointer;
    padding: 8px 12px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.album-wrapp {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    padding: 24px;
}
.album {
    width: 25%;
    background-color: rgb(253, 253, 253);
    margin-left: 24px;
    margin-bottom: 24px;
    border: 1px solid #cacaca;
}
.album-img {
    width: 100%;
}
.text {
    padding: 0 24px 24px 24px;
}
.song-title, .artist-name {
    margin: 0;
}
.song-title {
    font-size: 20px;
}
p.artist-name {
    font-size: 16px;
    color: rgb(160, 160, 160);
    margin-bottom: 12px;
}
button {
    background-color: cyan;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    
}
.spotify-logo {
    width: 32px;
    margin-right: 8px;
}
.btn-spotify {
    padding: 8px 12px;
    margin-top: 30px;
    background-color: rgb(31,214,96);
    text-decoration: none;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}